@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 33% 97%;
    --foreground: 24 100% 2%;
    --card: 0 33% 97%;
    --card-foreground: 24 100% 2%;
    --popover: 0 33% 97%;
    --popover-foreground: 24 100% 2%;
    --primary: 348 75% 81%;
    --primary-foreground: 24 100% 2%;
    --secondary: 0 61% 90%;
    --secondary-foreground: 24 100% 2%;
    --muted: 0 33% 20%;
    --muted-foreground: 24 100% 70%;
    --accent: 168 75% 81%;
    --accent-foreground: 24 100% 2%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 24 100% 2%;
    --border: 0 33% 20%;
    --input: 0 33% 20%;
    --ring: 168 75% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 33% 3%;
    --foreground: 24 100% 98%;
    --card: 0 33% 3%;
    --card-foreground: 24 100% 98%;
    --popover: 0 33% 3%;
    --popover-foreground: 24 100% 98%;
    --primary: 348 75% 19%;
    --primary-foreground: 24 100% 98%;
    --secondary: 0 61% 10%;
    --secondary-foreground: 24 100% 98%;
    --muted: 0 33% 80%;
    --muted-foreground: 24 100% 98%;
    --accent: 168 75% 19%;
    --accent-foreground: 24 100% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 24 100% 10%;
    --border: 0 33% 60%;
    --input: 0 33% 80%;
    --ring: 168 75% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}